.wrapText {
  display: 'flex';
  height: '100%';
  flex-direction: 'column';
}

.topText {
  font-family: Bebas_regular;

  font-size: 2rem;
  margin-bottom: 0;
  margin-left: 70px;
  color: #1e1e1e;
  backface-visibility: hidden;
}

.title {
  font-family: Bebas_regular;
  text-align: center;
  font-size: 7rem;
  margin-bottom: 0rem;

  letter-spacing: 0.7rem;
  color: #142431;
  padding: 10px;
  margin-top: 0rem;
  backface-visibility: hidden;
}

.wrapTitle {
  display: 'flex';
  flex: 1;
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
}

.mainText {
  position: static;
  text-align: center;
  font-family: Cantarell_regular;
  font-size: 2rem;

  color: #01bbb5;
  margin-top: -2rem;
  padding: 10px;
  backface-visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 6rem;
  }

  .mainText {
    font-size: 1.5rem;
  }
}
