.title {
  font-family: Mohave_regular;
  text-align: center;
  font-size: 108px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  color: #7ac1b4;
  margin-top: 120px;
}

.mainText {
  text-align: center;
  font-family: Cantarell_regular;
  font-size: 40px;

  color: #111111;
  padding: 10px;
  margin-top: -80px;
}
