a {
  text-decoration: none;
}

.sheet {
  width: 95vw;
  display: flex;
  align-items: baseline;
  margin-right: auto;
  background: linear-gradient(170deg, #ffffff 70%, #f8f8f8 30%);
  box-shadow: 0px 14px 55px rgba(0, 0, 0, 0.25);
  z-index: -1;
  float: right;
}

.background {
  position: absolute;
  background: #3dc1de;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.content {
  flex: 1;
  margin-top: 50px;
}

.sideText {
  font-family: Mohave_regular;
  font-size: 100px;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  text-align: left;
  margin-right: 40px;
  margin-top: 160px;
}

.pageBottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 9rem;
  background-color: #111111;
  text-align: center;
  z-index: -1;
}

.copyRight {
  font-family: Cantarell_regular;
  position: fixed;
  margin-top: 100px;
  margin-left: 5vw;
  margin-right: auto;
  color: #ffffff;

  font-size: 12px;
}

.topText {
  opacity: 1;
  font-family: Mohave_regular;

  font-size: 40px;
  margin-left: 100px;
  color: #111111;
  transition: color 0.5s ease;
  width: 300px;
  margin-top: -10px;
}
.topText:hover {
  color: #7ac1b4;
  cursor: pointer;
}

@media only screen and (max-width: 810px) {
  .sideText {
    display: none;
  }

  .topText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
