.listContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-gap: 5px;
  grid-template-rows: 320px 320px;
}

.gridItem {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: 30px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  backface-visibility: hidden;
}

.bookTable {
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  height: 220px;
}

.bookImage {
  width: 100px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.22));
  /* transform: rotate(-3deg); */
}

.listTitle {
  margin-top: 20px;
  font-family: Bebas_regular;
  font-size: 20px;
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
}

.listAuthor {
  font-family: Cantarell_regular;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 900px) {
  .listContainer {
    grid-template-columns: auto auto auto;
    grid-template-rows: 320px 320px 320px;
  }
  .sheet {
    height: 69rem;
  }
}

@media only screen and (max-width: 700px) {
  .listContainer {
    grid-template-columns: auto auto;
    grid-template-rows: 320px 320px 320px 320px;
  }
  .sheet {
    height: 69rem;
  }
}

@media only screen and (max-width: 500px) {
  .listContainer {
    grid-template-columns: auto;
    grid-template-rows: 320px 320px 320px 320px 320px 320px 320px 320px;
  }
  .sheet {
    height: 69rem;
  }
}
