.header {
  display: flex;
  justify-content: space-between;
}

.topRightText {
  font-family: Mohave_regular;
  font-size: 60px;
  color: #7ac1b4;
  margin-top: -20px;
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  padding: 5px;
  grid-gap: 10px;
  margin-top: -30px;
}

.gridItem {
  padding: 20px 10px;
  font-size: 30px;
  text-align: center;
}

.bookTable {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  height: 220px;
}

.bookImage {
  width: 130px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.22));
  transition: all 0.5s ease;
}

.bookImage:hover {
  transform: rotate(10deg);
}

.listTitle {
  margin-top: 20px;
  font-family: Mohave_regular;
  font-size: 21px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
  color: #111111;
}

.listTitle:hover {
  color: #7ac1b4;
  cursor: pointer;
}

.listAuthor {
  font-family: Cantarell_regular;
  font-size: 15px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  color: #7ac1b4;
}

@media only screen and (max-width: 810px) {
  .sheet {
    margin-left: auto;
    margin-right: auto;
  }

  .listContainer {
    float: none;
    justify-content: center;
  }
  .topRightText {
    display: none;
  }

  .header {
    display: block;
    justify-content: space-between;
  }
}
